.Register-main{
    display: grid;
    grid-template-columns: 1fr 1fr 5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: 100vh;
    width: 100%;
    justify-content: center;
    justify-items: center;
}

.RegisterRow{
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}

.RegisterBox{
    display: grid;
    justify-items: center;
    background-color: #464e5c;
    width:fit-content;
    grid-template-columns: 1fr 1fr;
    grid-row: 2;
    grid-column: 3;
    padding: 2vh;
    padding-left: 5vh;
    border-radius: 0.5vh;
}
.Registerbox-default{
    min-height: 2vh;
    min-width: 15vh;
    
}

.RegisterText{
    color: white;
    font-size: 2vh;
    text-align: left;
}

.RegisterTitleContainer{
    grid-column: 3;
    display: flex;
}

.RegisterTitle{
    color: white;
    font-size: 5vh;
    align-self: flex-end;
    padding-bottom: 5vh;
}

.ShowPasswordCheckbox{
    color: white;
    font-size: 2vh;
    text-align: left;
}

.RegisterRowCheckBox{
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    white-space: nowrap;
    color: white;
}

.RegisterButton{
    min-width: 15vh;
  background-color: #61dafb;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 2px;
  font-size: 2vh;
}

