
.App-body {
    padding-top: 20px; 
}

.test {
    margin-top: 20px; 
}

.hello-textbox {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: left;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 50px;
    min-width: 50%;
}

.hello-textbox p {
    font-size: 18px; 
    color: black;

}

.about-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.about-rightside{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 50px;
    min-width: 50%;
}

.about-rightside-containers{
    background-color: #353a45;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: left;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 50px;
    min-width: 50%;
    margin-top: 10%;
}
.about-rightside-containers>*{
    height: auto;
    margin-top: 10px;
}

.quiz-image{
    width: 100%;
    max-height: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.picture-box{
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10%;
    border-radius: 1vh;
    text-align: center;
}

