
.App-body {
    padding-top: 20px; 
}

.test {
    margin-top: 20px; 
}

.hello-textbox {
    background-color: #f0f0f0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: left;
    margin-right: 1%;
    margin-left: 5%;
    margin-top: 50px;
}

.hello-textbox>* {
    font-size: 18px;
    color: black;
}

.about-main{
    display: flex;
    align-items: flex-start;
}
.about-rightside{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 10%;
    margin-left: 1%;
    margin-top: 50px;
    min-width: 50%;
}

.about-rightside-containers{
    background-color: #353a45;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: left;
    min-width: 50%;

}
.about-rightside-containers>*{
    height: auto;
}
.quiz-image {
    width: 100%;        /* Make image fully occupy the width of its container */
    height: 60vh;       /* Define a fixed height */
    object-fit: cover;  /* This will cover the area without distorting the aspect ratio */
    object-position: center -30px; /* Adjusts the alignment of the image within its frame */
    border-radius: 8px;
}
.quiz-image-hanki{
    width: 100%;        /* Make image fully occupy the width of its container */
    height: 60vh;       /* Define a fixed height */
    object-fit: cover;  /* This will cover the area without distorting the aspect ratio */
    object-position: center top; /* Adjusts the alignment of the image within its frame */
    border-radius: 8px;
}
.picture-box{
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 5%;
    border-radius: 1vh;
    text-align: center;
    min-height: 70vh;
    max-height: 70vh;
    display: flex;        /* Added to better control the layout of children */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center children vertically */
    align-items: center;
}

.picture-box-container{

}

