/* RemoveQuiz.css */

/* General page layout and styling */
.remove-quiz-container {
    z-index: 9999;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full height of the viewport */
    background-color: #f4f4f4; /* Light grey background */
    width: 100vw;
}

.remove-quiz-content {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 400px;
}

/* Button styling */
.button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 10px;
    width: 80%; /* Makes buttons take up majority of container width */
    transition: background-color 0.3s, color 0.3s;
}

.remove-button {
    background-color: #d9534f; /* Bootstrap-like red */
    color: white;
}

.remove-button:hover {
    background-color: #c9302c; /* Darker red on hover */
}

.cancel-button {
    background-color: #cccccc; /* Neutral grey */
    color: #333;
}

.cancel-button:hover {
    background-color: #aaaaaa; /* Darker grey on hover */
}
