.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  background-color: #3f424e;
}

.testMain{
  display: grid;
  grid-template-columns: 1fr 1fr 5fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  height: 100vh;
  width: 100%;
  justify-content: center;
  justify-items: center;
  
}
.App-footer{
  display: grid;
  min-height: 20%;
  width: 100%;
  justify-content: center;
  justify-items: center;
  background-color: #464e5c;
}
.App-footer>*{
  color: #fdfdfd;
  font-size: 100%;
  font-family: 'Times New Roman', serif;
  text-align: center;
  padding: 5px;
}
.Footer-container{
  display: grid;
  width: 100%;
  justify-content: center;
  justify-items: center;
  background-color: #464e5c;
  padding: 20px;
}
.Footer-container>*{
  color: #fdfdfd;
  font-size: 100%;
  font-variant: small-caps;
  text-align: center;
  padding: 5px;

}

.LoginText{
  font-size:200%;
  font-family: Arial, sans-serif;
  color: #fdfdfd;
}
.LoginButton{
  min-width: 15vh;
  background-color: #61dafb;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 2px;
  font-size: 2vh;
}
.LoginButton:hover{
  background-color: #93e8ff;
}

.StartLoginBox{
  display: grid;
  justify-items: center;
  background-color: #464e5c;
  width:fit-content;
  grid-row: 2;
  grid-column: 3;
  padding: 2vh;
  padding-left: 15vh;
  padding-right: 15vh;
  border-radius: 0.5vh;
  
}
.LoginRow{
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}

.StartLoginInput{
  min-height: 2vh;
  min-width: 15vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #464e5c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  
}
.ProfileTextDivider{
  display: grid;
  grid-template-rows: 2fr 1fr 1fr 1fr;
  height: 100%;
  width: 100%;
  border: 1px black;
}
.Header-text{
  font-size: 125%;
  font-family: Arial, sans-serif;
  color: #ffffff;
  margin: 10%;

}
.Header-text:active, a:visited, a:link{
  color: inherit;
  text-decoration: none;
}
.Header-text:hover{
  color: #61dafb;
}



.ProfileTextDivider>*{
  text-align: left;
  margin-left: 20px;
}
.UserName{
  text-align: center;
  margin: 15%;
  font-family: Arial, sans-serif;
}

.Header-container{
  display: grid;
  position: sticky;
  grid-template-columns: repeat(9, 1fr);
  height: fit-content;
  grid-gap: 10px;
  background-color: #464e5c;
  position: sticky;
  width: 100%;
  justify-content: center;
  justify-items: center;

}
.firstSiteLayout> *{
  border: 1px solid black;
}
.SearchBox {
  grid-column: 10;
  border-radius: 0.3vh;
}

.NavigationTabs{
  border-radius: 0.3vh;
  width: auto;
  height: auto;
  border: 0px;
  background-color: #969aa8;
}
.NavigationTabs:hover{
  background-color: grey;
}
.NavigationTabs.NavigationTabs:click{
  color: #61dafb;
}

.mainMain{
  display: flexbox;
  grid-template-rows: 2fr;
  width: 55%;
  margin-left: 1%;
  margin-right: auto;
  min-height: 100px;
  padding: 10px;
  grid-gap: 1cm;
  background-color: white;
  size-adjust: none;
  height: min-content;
  border-radius: 1%;
  top: 7%;
}

.profileContainer{
  display: grid;
  grid-template-rows: 1fr 5fr;
  border-color: 1px black;
  max-height: fit-content;
  width: 55%;
  background-color: white;
  padding: 10px;
  margin-left: 1%;
  border-radius: 1vh;
}
.LoginOrRegisterColumns>*{
  justify-self: center;
}

.App-body{

  min-height: 100vh;
  width: 100%;
  background-color: #282c34;
  justify-content: center;
  justify-items: center;
}


.upperProfileGrid{
  display: grid;
  width: 100%;
  grid-template-columns: 1.5fr 2fr;
  max-height: fit-content;
  background-color: #969aa8;
  
}


.lowerProfileGrid{
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  border: 1px black;
  background-color: rgb(244, 244, 244);
}
.profilePictureImage{
  width: fit-content;
  height: fit-content;

}
.mainMain>*{
width: 90%;
margin-left: 5%;
margin-right: 5%;
}

.profilePictureImage{
  width: 100%;
  height: auto;
  margin-top: 5%;
}

  

.Main{
  display: flex;
  grid-template-columns: max-content;
  padding-top: 1%;
}

.mainNavigation{
  display: flexbox;
  grid-template-rows: 1fr;
  width: 20%;
  height: min-content;
  padding: 10px;
  grid-gap: 1cm;
  background-color: white;
  size-adjust: none;
  margin-left: 10%;
  border-radius: 1%;
  position: sticky;
  top:7%;
}
.mainNavigation> *{
   border: 0.5px solid black;
   padding: 10px;
   background-color: #fdfdfd;
   border-radius: 0.5vh;
   width: 70%;
   margin-right: 50%;
   margin-top: 10px;
   margin-bottom: 10px;
}
.mainNavigation> *:hover{
  background-color: grey;
}
.navigationButton{
  background-color: #969aa8;
  color: rgb(118, 95, 65);
  text-align: left;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header-text-dropdown{
  position: relative;
  display: inline-block;
  width: fit-content;
  font-size: 125%;
  font-family: Arial, sans-serif;
  color: #fdfdfd;
  margin: 10%;
}
.Header-text-dropdown:hover{
  color: #61dafb;
}


.Header-text-dropdown-content{
  display: none;
  grid-template-rows: auto;
  position: absolute;
  background-color: #61dafb;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 1;
  left: 50%; /* Start from the middle of the parent */
  transform: translateX(-50%); /* Shift back by half of its own width to center */
  width: auto; /* Let the width grow as needed */
  max-width: calc(100vw - 20px); /* Optional: Limit width to the viewport width minus some padding */
  border-radius: 2px;
  margin-top: 5px;
}
.Header-text-dropdown-content-grid{
  display: grid;
  grid-template-rows: auto;
  width: 100%;
  height: 100%;
  justify-content: center;
  justify-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.Header-text-dropdown-content-grid>*{
  color: #fdfdfd;
  font-size: 125%;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 5px;
}
.Header-text-dropdown-content-grid>*:hover{
  background-color: #93e8ff;
}

.Header-text-dropdown:hover .Header-text-dropdown-content{
  display: block;
}
